*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --bg-color: #121214;
  --text-color: #FFFFFF;
  --base-color:194;
  --primary-color: hsl(var(--base-color), 100%, 63%);  
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);


  --secondary-color: #996DFF;
  --button-hover: #6F48C9;

  font-size: 62.5%;
}
body{
  display: grid;
  
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;

  min-height: 100vh;

}
main{
  align-self: flex-end;
  justify-self: center;
}

#timer{
  font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
  display: flex;
  font-weight: bold;
  margin-bottom: 1.6rem;
}
button{
  background: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
    
}
.hide{
  display: none;
}
.play i,
.pause i,
.set i,
.sound-on i,
.sound-off i,
.stop i{
  color: var(--primary-color);

  font-size: clamp(3.2rem, 2rem + 12vw, 6.4rem);
  
}

#controls{
  background-color: var(--bg-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  border-radius: 9999px;

  width: clamp(10rem, 10rem + 30vw, 22rem);
  height: 10.4rem;
  

}
footer{
  align-self: end;
  justify-self: end;
  padding: 0 4rem 3.2rem 0;
  
}